<br><br><br><br><br><br><br><br>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>

</head>
<footer>
    <p>
        Your Magic Starts here....
    </p>
    <div class="social-icons">
        <a href="https://github.com/deej-0101" target="_blank" class="icon-link">
            <i class="fab fa-github"></i>
        </a>

        <a href="https://www.facebook.com/dianejoy.11" target="_blank" class="icon-link">
            <i class="fab fa-facebook"></i>
        </a>

        <a href="https://instagram/deejayyoww" target="_blank" class="icon-link">
            <i class="fab fa-instagram"></i>
        </a>
    </div>
    <p>
        &copy; wizards association est 500
    </p>
</footer>
</html>